<div class="container my-5">
  <div class="row">
    <div class="offset-sm-3 col-sm-7">

      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>

      <div class="row">
    　　<% @items.last(3).each do |item| %>
      　　<div class="col-3 mt-3">
        　　　<%= link_to item_path(item) do %>
          　<%= attachment_image_tag item, :image, size: "150x150", format: 'jpeg', fallback: "noimage.jpg", class: 'rounded' %>
            <% end %><br>
            <span class="text-muted"><%= link_to item.name, item_path(item.id) %></span><br>
		        <span class="ml-auto"><%= (item.price * 1.1).floor %>円</span><br>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>